.bg-blue-dark {
  background: #001539;
}
.v-block {
  margin-bottom: 2rem;
}
.v-block:last-child {
  margin-bottom: 0;
}
.v-block .v-block__title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: #001539;
}
.text-color-red {
	color: red
}
